@use 'text-styles' as *;

.root {
  @include text-caption;

  display: inline-flex;
  gap: var(--size-xs);
  align-items: center;
  padding: var(--size-xs) var(--size-sm);
  color: var(--color-text-on-card);
  background-color: var(--color-background-bg-card);
  border: 1px solid var(--color-stroke-on-surface);
  border-radius: var(--radius-lg);
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: var(--color-icon-accent);
}
